body {
  overflow-x: hidden;
  font-size: 14px;
}

.home header {
  background-color: #044863;
  z-index: 100000;
}
.home i {
  color: white;
  font-size: 20px;
}

.menu a {
  text-decoration: none;
}
.body .menu {
  position: relative;
  top: 0;

  left: -12px;
}
.body .menu ul li {
  display: inline-flex;
  background-color: #2a2f33;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.03);
}
.body .menu ul li:hover {
  background-color: red;
}
.body .menu ul li:focus {
  background-color: red;
}
.left-body-header,
.top-right,
.bottom-right {
  cursor: pointer;
}
.img-left-body-header-1 {
  background: url("/image/image10.jpg");
  padding: 30% 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.img-left-body-header-2 {
  background: url("/image/russian-central-bank-file-0528-super-169.jpg");
  padding: 30% 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.img-left-body-header-3 {
  background: url("/image/image10.jpg");
  padding: 27% 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.body .menu ul li a {
  width: 100%;
  color: white;
  padding: 15px 30px;
}
.body-header {
}
.body .main-page {
  padding: 60px 7% 50px 3%;
  /* position: relative;

  right: -17%; */
}
.inline-site-logo {
  background: #c4c4c4;
  display: inline-block;
  vertical-align: sub;
  height: 17px;
}
/* .home .body .main-page .title-header {
  margin-top: 100px;
} */
/* .span-2 {
  position: absolute;
  top: -45px;
} */
.text-1 {
  text-shadow: 2px 2px 4px #000;
  background: linear-gradient(
    180deg,
    transparent 0,
    rgba(0, 0, 0, 0.19) 28%,
    rgba(0, 0, 0, 0.7)
  );
  width: 90%;
  font-weight: 700;
}
.text-2,
.text-3 {
  text-shadow: 2px 2px 4px #000;
  background: linear-gradient(
    180deg,
    transparent 0,
    rgba(0, 0, 0, 0.19) 28%,
    rgba(0, 0, 0, 0.7)
  );
  width: 93%;
  font-weight: 700;
}
.text-1 {
  bottom: 10px;
  left: 15px;
}
.text-1,
.text-2,
.text-3 p {
  color: #eee;
}
.top-right {
  margin-bottom: 35px;
}
.top-right .text-2 {
  position: absolute;
  bottom: 0;
  left: 0;
}
.bottom-right .text-3 {
  position: absolute;
  bottom: 0;
  left: 0;
}
.body-footer .tow .card-body {
  position: relative;
  margin: 5px;
}
.body-footer .tow p {
  position: absolute;
  bottom: 15px;
  color: #eee;
  width: 89%;
  padding: 5px;
}

.img-left-body-header:hover,
.top-right:hover,
.bottom-right:hover {
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 30%);
}
/* .img-left-body-header {
  height: 100%;
} */
.card:hover {
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 30%);
}
footer .left a {
  left: 17%;
  top: -10px;
}
footer .left a:hover {
  color: rgb(27, 47, 226) !important;
}

.body-footer a {
  text-decoration: none;
  color: #777;
}
.body-footer .card {
  cursor: pointer;
}
.btn-viewall i {
  font-size: 13px;
}
